body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
}

.form-body {
    background-color: #fff;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-inputs div {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.form-inputs div p {
    text-transform: none;
    color: red;
    margin-top: 0px;
}