body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image-sidebar {
    width:  600px;
}

.page-content {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
}

.form-body {
    background-color: #fff;
    box-shadow: 5px 5px 10px grey;
    padding: 10px 20px;
}

.form-body legend {
    padding: 10px;
    font-size: 24px;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 30px;
}

.form-inputs div {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px;
}

.form-inputs div input {
    width: 250px;
    height: 1.4em;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px 10px;
}

.form-inputs div input:focus {
    box-shadow: 3px 3px 5px lightgrey;
}

.form-inputs div p {
    text-transform: none;
    color: red;
    margin-top: 0px;
}