body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.image-sidebar {
    width:  50%;
    background-image: url("./img/mountains.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.image-sidebar div {
    background-color: rgb(0,0,0,50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner {
    margin-top: 25vh;
    font-size: 5em;
    padding: 16px;
}

.banner img {
    height: 1.5em;
}

.img-credit {
    margin-top: auto;
    padding: 8px;
}

.img-credit a {
    color: #fff;
}

.page-content {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: center;
}

.header-text {
    margin: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

.form-body {
    background-color: #fff;
    box-shadow: 0px 5px 10px grey;
    padding: 10px 20px;
}

.form-body legend {
    padding: 10px;
    font-size: 1.5em;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 30px;
}

.form-inputs div {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 10px;
}

.form-inputs div input {
    width: 250px;
    height: 1.4em;
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 5px 10px;
}

.form-inputs div input:focus {
    box-shadow: 3px 3px 5px lightgrey;
}

.form-inputs div p {
    text-transform: none;
    color: red;
    margin-top: 0px;
}

.signup-form button {
    margin: 30px;
}

.signup-form p {
    margin-left: 30px;
}